<div class="text-center my-6">
  <h2 class="text-2xl font-bold mb-4">My single Task:</h2>

  <h2 class="mx-auto max-w-xs"><%= @task.title %></h2>
  <p class="text-center"><%= @task.details %></p>
  <p class="text-center"><%= @task.completed ? '- done' : '' %></p>
</div>
